[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=Default output changer
Comment=Display and change default sound output device
Icon=preferences-desktop-sound
X-XFCE-Module=defaultoutput
X-XFCE-Internal=false
X-XFCE-Unique=false
